@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* slate-50 */
}

/* Custom styles for leaflet map container if needed */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* Fake Dark Mode for standard map tiles */
.map-tiles-dark-mode {
  filter: invert(1) hue-rotate(180deg) brightness(95%) contrast(90%);
}
